In [4]:
#1 
#a
L1=[3,4,5,8,9]
sum=0
for i in L1:
    sum=sum+i
print("The sum of the list is : ", sum)

The sum of the list is :  29

In [5]:
#b
mul=1
for i in L1:
    mul=mul*i
print("Multiplication of L1 is : ",mul)

Multiplication of L1 is :  4320

In [7]:
#c
print("The maximum of L1 is: ", max(L1))

The maximum of L1 is:  9

In [8]:
#d
print("The minimum of L1 is: ", min(L1))

The minimum of L1 is:  3

In [16]:
#2
A=['abc','xyz','aba','1221']
for i in A:
    if i[0]==i[-1]:
         print("The string is: ", i ,"and their index is :",A.index(i))

The string is:  aba and their index is : 2
The string is:  1221 and their index is : 3

In [22]:
#3
a='*'
for i in range(6):
    
        print('*'*i)

*
**
***
****
*****

In [2]:
#3
def print_pattern(n):
   for i in range(1, n + 1):
       print(''.join(chr(ord('A') + j) for j in range(i)))

print_pattern(5)

A
AB
ABC
ABCD
ABCDE

In [3]:
#4
def convert_to_dict(color_names, color_codes):
    return [{"colorName": name, "colorCode": code} for name, code in zip(color_names, color_codes)]
ListColour= [["Black", "Red", "Maroon", "Yellow"], ["000000", "FF0000",
"800000", "FFFF00"]]
ListColour = ListColour[0]
ListCode = ListColour[1]

result = convert_to_dict(ListColour, ListCode)
print(result)

[{'colorName': 'Black', 'colorCode': 'R'}, {'colorName': 'Red', 'colorCode': 'e'}, {'colorName': 'Maroon', 'colorCode': 'd'}]

In [47]:
#5
#a
for i in range(1,50):
    if i%2==0:
      print(i, ",", i**2)

2 , 4
4 , 16
6 , 36
8 , 64
10 , 100
12 , 144
14 , 196
16 , 256
18 , 324
20 , 400
22 , 484
24 , 576
26 , 676
28 , 784
30 , 900
32 , 1024
34 , 1156
36 , 1296
38 , 1444
40 , 1600
42 , 1764
44 , 1936
46 , 2116
48 , 2304

In [48]:
#5
#b
for i in range(1,100):
    if i%2==0:
      print(i, ",", i**2)

2 , 4
4 , 16
6 , 36
8 , 64
10 , 100
12 , 144
14 , 196
16 , 256
18 , 324
20 , 400
22 , 484
24 , 576
26 , 676
28 , 784
30 , 900
32 , 1024
34 , 1156
36 , 1296
38 , 1444
40 , 1600
42 , 1764
44 , 1936
46 , 2116
48 , 2304
50 , 2500
52 , 2704
54 , 2916
56 , 3136
58 , 3364
60 , 3600
62 , 3844
64 , 4096
66 , 4356
68 , 4624
70 , 4900
72 , 5184
74 , 5476
76 , 5776
78 , 6084
80 , 6400
82 , 6724
84 , 7056
86 , 7396
88 , 7744
90 , 8100
92 , 8464
94 , 8836
96 , 9216
98 , 9604

In [13]:
#6
#a #b
B = str(input('Enter 4 digit number: '))
sum = 0
reverse_B = ""


for i in B:
    sum += int(i)
    reverse_B = i + reverse_B
    

print("The sum is :", sum)
print("The reverse is : ", reverse_B)

The sum is : 10
The reverse is :  4321

In [14]:
import math

#7
def get_triangle_sides():
    side1 = float(input("Enter the first side of the triangle: "))
    side2 = float(input("Enter the second side of the triangle: "))
    side3 = float(input("Enter the third side of the triangle: "))
    return side1, side2, side3

def calculate_area(side1, side2, side3):
    s = (side1 + side2 + side3) / 2
    area = math.sqrt(s * (s - side1) * (s - side2) * (s - side3))
    return area

print("Enter the sides for the first triangle:")
side1, side2, side3 = get_triangle_sides()
area1 = calculate_area(side1, side2, side3)


print("Enter the sides for the second triangle:")
side4, side5, side6 = get_triangle_sides()
area2 = calculate_area(side4, side5, side6)

print("Enter the sides for the second triangle:")
side7, side8, side9 = get_triangle_sides()
area3 = calculate_area(side7, side8, side9)


total_area = area1 + area2 + area3
Percent1 = (area1 / total_area) * 100
Percent2 = (area2 / total_area) * 100
Percent3 = (area3 / total_area) * 100


print(f"The area of the first triangle is: {area1:.2f}")
print(f"The area of the second triangle is: {area2:.2f}")
print(f"The area of the second triangle is: {area3:.2f}")
print(f"The total area enclosed by both triangles is: {total_area:.2f}")
print(f"The first triangle contributes: {Percent1:.2f}%")
print(f"The second triangle contributes: {Percent2:.2f}%")
print(f"The third triangle contributes: {Percent3:.2f}%")

Enter the sides for the first triangle:
Enter the sides for the second triangle:
Enter the sides for the second triangle:
The area of the first triangle is: 2.90
The area of the second triangle is: 14.70
The area of the second triangle is: 7.31
The total area enclosed by both triangles is: 24.91
The first triangle contributes: 11.66%
The second triangle contributes: 59.00%
The third triangle contributes: 29.34%

In [14]:
people = [
    {"name": "John Doe", "age": 30, "blood_group": "A+"},
    {"name": "Jane Smith", "age": 25, "blood_group": "B-"},
    {"name": "Emily Davis", "age": 40, "blood_group": "0+"},
    {"name": "Michael Brown", "age": 35, "blood_group": "AB-"},
    {"name": "William Johnson", "age": 28, "blood_group": "A-"},
    {"name": "Emma Wilson", "age": 22, "blood_group": "B+"},
    {"name": "Oliver Martinez", "age": 33, "blood_group": "0-"},
    {"name": "Sophia Anderson", "age": 27, "blood_group": "AB+"},
    {"name": "James Thomas", "age": 45, "blood_group": "A+"},
    {"name": "Isabella Lee", "age": 38, "blood_group": "B-"}
]

for person in people:
    print("Name:", person["name"])
    print("Age:", person["age"])
    print("Blood Group:", person["blood_group"])
    print("-" * 20)

Name: John Doe
Age: 30
Blood Group: A+
--------------------
Name: Jane Smith
Age: 25
Blood Group: B-
--------------------
Name: Emily Davis
Age: 40
Blood Group: 0+
--------------------
Name: Michael Brown
Age: 35
Blood Group: AB-
--------------------
Name: William Johnson
Age: 28
Blood Group: A-
--------------------
Name: Emma Wilson
Age: 22
Blood Group: B+
--------------------
Name: Oliver Martinez
Age: 33
Blood Group: 0-
--------------------
Name: Sophia Anderson
Age: 27
Blood Group: AB+
--------------------
Name: James Thomas
Age: 45
Blood Group: A+
--------------------
Name: Isabella Lee
Age: 38
Blood Group: B-
--------------------

In [18]:
#9
t= ("python","learn","includehelp")
L=list(t)
p=[]
for i in L:
    p.append(i [-1])
print(p)

['n', 'n', 'p']

In [36]:
#10
def is_leap_year(year):
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)
def y():
    month=input('Enter the month name: ')
    days = {
            "January": 31,
            "February": 28,  
            "March": 31,
            "April": 30,
            "May": 31,
            "June": 30,
            "July": 31,
            "August": 31,
            "September": 30,
            "October": 31,
            "November": 30,
            "December": 31
        }
    
    if month not in days:
        print("Invalid")
    if month=="February" :
        year=int(input("Enter the year: "))
        if is_leap_year(year)==True:
            return print("The number of days in February is: 29")
        else:
            return print("The number of days in February is: ",days[month])
    else:
        print("The number of days in ",month,"is: ",days[month])

In [33]:
y()

The number of days in  March is:  31

In [37]:
y()

The number of days in February is: 29